.margin {
    margin - left: 9px;
    margin - right: 9px;
}
.icon-actions {
    font-size: 23px;
}
.checkbox {
    vertical-align: middle;
}
.actions {
    float: right;
}
.item-text-wrap {
    overflow: auto;
}
.ion-checkmark-circled.icon-actions.margin
{
    margin-right: 35px;
}

growl-notifications {
    position: fixed;
    top: 100px;
    right: 400px;
    z-index: 1000;
}

growl-notifications growl-notification {
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 15px 30px;
    width: 80%;
    display: block;
    border-radius: 5px;
    margin-top: 15px;
}