<?xml version='1.0' encoding='utf-8'?>
<widget id="com.premoapp.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Premo</name>
    <description>
        Une application experimentale contenant de vielles techniques de premiers soins. Utilization garde a la discretion de l'utilisateur. 
    </description>
    <author email="oleksandr.dymov@gmail.com">
      Author
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="phonegap-version" value="6.2.2" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <gap:config-file overwrite="true" parent="UIStatusBarHidden" platform="ios">
        <true />
    </gap:config-file>
    <gap:config-file overwrite="true" parent="UIViewControllerBasedStatusBarAppearance" platform="ios">
        <false />
    </gap:config-file>
    <icon src="www/img/Icon-60@2x.png" />
    <feature name="SplashScreen">
        <param name="ios-package" value="CDVSplashScreen" />
    </feature>
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <plugin name="cordova-plugin-whitelist" spec="~1.2.2" />
    <plugin name="cordova-plugin-statusbar" spec="~2.1.3" />
    <plugin name="cordova-plugin-console" spec="~1.0.3" />
    <plugin name="cordova-plugin-device" spec="~1.1.2" />
    <plugin name="cordova-plugin-splashscreen" spec="~3.2.2" />
    <plugin name="org.apache.cordova.geolocation" spec="0.3.10" source="pgb" />
    <plugin name="ionic-plugin-keyboard" spec="~2.2.1" />
</widget>
