<!DOCTYPE html>
<html ng-app="premoApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<title>PremoApp</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="node_modules/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyA571VrG-FDE6fWboMVWgn7ZQCymD0WzrY&sensor=true"></script>
    <script type="text/javascript" src="node_modules/angular-growl-notifications/dist/angular-growl-notifications.js"></script>
  </head>
  <body>
      <ion-side-menus ng-controller="ionNavCtrl">
          <!-- Center content -->
          <ion-side-menu-content>
              <growl-notifications></growl-notifications>
              <ion-nav-bar class="bar-positive">
                <ion-nav-buttons side="left">
                    <ion-nav-button menu-toggle="left" class="button button-icon icon ion-navicon" ng-show="isActive()"></ion-nav-button>
                    <h1 class="title">Premo</h1>
                </ion-nav-buttons>
                <!--<ion-nav-buttons side="right">-->
                  <!--<button class="button button-icon button-clear ion-arrow-left-c" ng-click="goBack()" ng-show="isActive()"></button>-->
                <!--</ion-nav-buttons>-->
              </ion-nav-bar>
              <ion-nav-view></ion-nav-view>
          </ion-side-menu-content>
          <!-- Left menu -->
          <ion-side-menu side="left">
              <a class="bar bar-header" nav-clear menu-close ui-sref="menu.home">
                  <h1 class="title">Menu</h1>
              </a>
              <ion-content class="has-header">
                <ion-list>
                  <ion-item class="item-icon-left" nav-clear menu-close ng-click="logout(); hideMenu()">
                    <i class="icon ion-ios7-locked"></i>
                    Sign Out
                  </ion-item>
                </ion-list>
              </ion-content>
          </ion-side-menu>
      </ion-side-menus>
  </body>
</html>