<ion-header-bar class="bar-positive">
   <h1 class="title">Register</h1>
</ion-header-bar>
<ion-content class="has-header padding">
   <growl-notification ng-if="emptySignupCredit" ttl="100000">
      Please enter valid credentials
   </growl-notification>
   <growl-notification ng-if="existingEmail">
      A user with this email already exists
      <a ng-click="$growlNotification.remove()">Close me</a>
   </growl-notification>
   <growl-notification ng-if="communicationError">
      Oops something went wrong, Please try again!
      <a href="#" ng-click="$growlNotification.remove()">Close me</a>
   </growl-notification>
   <div class="list">
      <label class="item item-input">
         <span class="input-label">First Name</span>
         <input type="text" ng-model="user.firstName">
      </label>
      <label class="item item-input">
         <span class="input-label">Last Name</span>
         <input type="text" ng-model="user.LastName">
      </label>
      <label class="item item-input">
         <span class="input-label">Email</span>
         <input type="text" ng-model="user.email">
      </label>
      <label class="item item-input">
         <span class="input-label">Password</span>
         <input type="password" ng-model="user.password">
      </label>
      <label class="item item-input">
         <span class="input-label">Confirm Password</span>
         <input type="password" ng-model="user.passwordConf">
      </label>
      <label class="item item-input">
         <button class="button button-block button-positive" ng-click="createUser()">
            Sign Up
         </button>
      </label>
   </div>
</ion-content>