<ion-tabs class="tabs-icon-top">


    <!-- Event icon Hrishi-->

    <ion-tab title="Event" icon-on="ion-ios-list"
             icon-off="ion-ios-list" href="#/base/list">
        <ion-nav-view name="base-list"></ion-nav-view>
    </ion-tab>


    <!--Profile icon Hrishi-->

    <ion-tab title="Profile" icon-on="ion-ios-home"
             icon-off="ion-ios-home" href="#/base/profile">
        <ion-nav-view name="base-profile"></ion-nav-view>
    </ion-tab>


    <ion-tab title="Map" icon="ion-map" href="#/base/map">
        <ion-nav-view name="base-map"></ion-nav-view>
    </ion-tab>

    <!--<ion-tab title="Map" icon="ion-map" href="#/base/addevent">-->
        <!--<ion-nav-view name="base-addevent"></ion-nav-view>-->
    <!--</ion-tab>-->

</ion-tabs>
        