<ion-view>
<ion-content class="has-header padding" has-tabs="true" on-refresh="onRefresh()">
   <ion-refresher ng-hide="noData" on-refresh="doRefresh('1')"></ion-refresher>
    
   <div class="item item-divider title-center">
           Latest Games
   </div>
    
   <ion-list>
        <ion-item 
            ng-repeat="item in list"
            ng-class="icon ion-ios7-arrow-forward"
            ng-click="selectCategory('{{item.category}}')">
            {{item.category}}
<!--            <i icon-right ng-class="icon ion-ios7-arrow-forward"></i>-->
        </ion-item>
    </ion-list>    
   </div>
</ion-content>
</ion-view>